bleach==6.3.0
certifi==2026.2.25
cffi==2.0.0
cryptography==46.0.7
falcon==4.2.0
gunicorn==23.0.0
mariadb==1.1.14
packaging==26.0
pycparser==3.0
pyparsing==3.3.2
sentry-sdk==2.54.0
six==1.17.0
toml==0.10.2
urllib3==2.6.0
webencodings==0.5.1
